.mainContainer {
    width: 100%;
    text-align: center;
}

.settings {
    height: 150px;
    width: 100%;
}

.row {
    width: 100%;
}

.col-m {
    width: 400px;
    display: inline-block;
}

.col-m label {
    width: 150px;
    float: left;
    text-align: left;
}

.col-m input {
    width: 250px;
    float: right;
}

#knight {
    position: absolute;
    top: 149px;
    left: 101px;
    visibility: hidden;
    z-index: 1000;
}

#cvsVisualization {
    position: absolute;
    left: 100px;
    top: 150px;
}